.tree{
    border-radius: 5px;
    background-color: white;
    border-top: 2px solid black;
    border-bottom:2px solid black;
}

.reference-card{
    padding: 7%;
    width: 150px;
    margin-top: 30px;
    border: solid grey 2px;
    border-radius: 20px;
}
.r-card{
    text-align: center;
    font-size: 100%;
    border-radius: 20px;
    padding: 5%;
    width: 150px;
    border: 20px;
    
}

.copy-button{
    
    border: 0px;    
}

.copy-font{
    width: 15px;
    margin-left: auto;
}


span{
    font-weight: bold;
}

.loader{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tree-img{
    width: 125px;
    height: 100px;
}
.experiment-table{
    background-image: url('https://res.cloudinary.com/doaejwdmk/image/upload/v1646156842/ezgif.com-gif-maker_1_grin8b.gif');
    color: yellowgreen;
}